*{
    background-color: azure;
}
h1{
    border: 2px solid black;
    color : blueviolet;
    font-family: cursive;
    text-align: center;
}

p{
    border: 2px solid red;
    font-size: 2rem;
    font-family: cursive;
    font-style: oblique;
    text-align: justify;

}